body{
    text-align: center;
}
#topWords{
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 100px;
    color: orange;
    text-decoration: underline;
}
.jumbotron{
    background-image: url("nyancat.gif");
}
.dookie{
    display: flex;
    justify-content: center;
    
}
.card{
    border: 20px;
    margin: 20px
}
@media only screen and (max-width: 1000px) {
    .dookie{
      display:flex;
      flex-direction: column;
      margin: auto;
    }
  }
.names{
    display: flex;
    justify-content: center
}